<<<<<<< HEAD
footer {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}
=======
.footer {
    background-color: white;
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    bottom: 0;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    position: fixed;
    display: flex;
}
>>>>>>> f3b59a20630e1780d86e5d2cf1b082c62fec03f8
